*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
_notebooks/jitfailure*/
_notebooks/__pycache__/
# Local Netlify folder
.netlify
.tweet-cache
./**/__pycache__
